   <h1>Usuarios</h1>
   {{#if users.length}}
        {{#each users}}
            <p><ul><li>
                {{id}} ---- > {{name}}
            </li></ul></p>
        {{/each}}
   {{else}}
   No hay usuarios

   {{/if}}
   <h2>Administrador</h2>
    {{#with admin}}
        <h3>{{name}}
        </h3>
        <p>
            El Administrador es: {{fullname}}
        </p>
    {{else}}
        No hay un Administrador
        {{log "Se ha intentado renderizar sin administrador"}}
    {{/with}}

